@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.collections__item-six__white-wrapper, .collections__item-fourth__white-wrapper, .collections__item-second__white-wrapper {
  background-color: white;
  display: inline-block;
}

* {
  font-family: "Inter";
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 10px;
}

.row {
  display: flex;
}

.header {
  padding-top: 56px;
}
.header__container {
  display: flex;
  justify-content: space-between;
}
.header__main-menu {
  display: flex;
  flex-direction: column;
  width: 803px;
  margin-right: 180px;
}
.header__nav {
  margin-bottom: 54px;
  display: flex;
  justify-content: space-between;
}
.header__nav-item {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
}
.header__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #AFAFAF;
  width: 205px;
  letter-spacing: 2px;
}
.header__favorites-icon {
  position: relative;
}
.header__favorites-icon sup {
  position: absolute;
  top: -11px;
  color: #AFAFAF;
}
.header__cart-icon {
  position: relative;
}
.header__cart-icon sup {
  position: absolute;
  top: -11px;
  color: #FF0000;
}
.header__contacts-block {
  justify-content: space-between;
  align-items: top;
}
.header__contacts {
  margin-right: 30px;
}
.header__phone {
  padding-bottom: 20px;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 400;
  line-height: 16px;
  color: #6D6D6D;
}
.header__adress {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
}
.header__insta {
  width: 23.52px;
  height: 23px;
  margin-top: 10px;
}

.top-slider {
  background: url("../img/topbg.png") no-repeat center;
  padding-bottom: 120px;
  position: relative;
}
.top-slider__decoration {
  position: absolute;
  bottom: 51px;
}
.top-slider__menu {
  display: flex;
  justify-content: space-between;
  height: 80px;
  position: relative;
  margin-bottom: 386px;
}
.top-slider__white-space {
  width: 978px;
  margin-left: -80px;
  background-color: white;
}
.top-slider__search {
  display: flex;
  justify-content: space-between;
  width: 365px;
  padding: 15px;
  background-color: #E1E1E1;
  opacity: 0.8;
}
.top-slider__catalog {
  display: flex;
  justify-content: center;
  background-color: #FF0000;
  width: 302px;
  height: 70px;
  align-items: center;
  position: absolute;
  z-index: 1;
  top: 58px;
}
.top-slider__subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: white;
  margin-bottom: 19px;
}
.top-slider__title {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin-bottom: 55px;
}
.top-slider__scroll {
  display: flex;
}
.top-slider__scroll__line {
  background-color: white;
  width: 40px;
  height: 6px;
  margin-right: 20px;
}
.top-slider__scroll__line:first-child {
  background-color: #FF0000;
}

.search_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #707070;
}
.search__icon {
  width: 21px;
  height: 21px;
}
.search__frame {
  border: white solid 20px;
  margin-right: -20px;
  margin-top: -10px;
}

.catalog__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: white;
  text-transform: uppercase;
  margin-right: 28px;
}
.catalog__icon {
  width: 15px;
  height: 15px;
}

.proposal-block__name {
  font-weight: 700;
  font-size: 100px;
  line-height: 83px;
  color: #dfddda;
  text-transform: uppercase;
  padding-right: 40px;
}
.proposal-block__text {
  color: #dfddda;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 26px;
  padding-right: 40px;
}

.collections__container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  height: 560px;
}
.collections__item-first {
  background-image: url("../img/collections/image 1201.png");
  position: absolute;
  top: -80px;
  width: 560px;
  height: 400px;
  z-index: 1000;
}
.collections__item-first__subtitle {
  color: #EBE5D2;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-top: 55px;
  padding-left: 49px;
  padding-bottom: 32px;
}
.collections__item-first__title {
  font-size: 63px;
  font-weight: 700;
  line-height: 76px;
  color: #FFFFFF;
}
.collections__item-second {
  background-color: white;
  width: 715px;
  height: 320px;
  transform: translate(495px, -135px);
}
.collections__item-second__picture {
  background-image: url("../img/collections/image 1203.png");
  width: 300px;
  height: 150px;
  margin-top: 54px;
  margin-left: 127px;
}
.collections__item-second__white-wrapper {
  margin: 22px;
  width: 260px;
  padding-left: 28px;
  padding-top: 24px;
}
.collections__item-second__title {
  font-size: 27px;
  font-weight: 700;
  line-height: 33px;
  color: #000;
}
.collections__item-second__subtitle {
  color: #EBE5D2;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-top: 9px;
  padding-bottom: 32px;
}
.collections__item-third {
  background: url("../img/collections/image 1218.png") no-repeat center;
  width: 320px;
  height: 320px;
  z-index: 1000;
  position: absolute;
  right: 0px;
  top: -80px;
}
.collections__item-third__title {
  font-size: 36px;
  font-weight: 800;
  line-height: 44px;
  color: #FFFFFF;
}
.collections__item-third__subtitle {
  color: #EBE5D2;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-left: 44px;
  margin-bottom: 36px;
  padding-top: 104px;
}
.collections__item-fourth {
  width: 480px;
  height: 160px;
  background: url("../img/collections/image 1220.png");
  z-index: 1000;
  position: absolute;
  bottom: 0px;
}
.collections__item-fourth__white-wrapper {
  width: 436px;
  margin: 22px;
  height: 116px;
}
.collections__item-fourth__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #000;
  text-align: center;
  padding-top: 45px;
}
.collections__item-fifth {
  z-index: 1001;
  background-image: url("../img/collections/image 1221.png");
  width: 400px;
  height: 400px;
  position: absolute;
  bottom: 0px;
  right: 321px;
}
.collections__item-fifth__subtitle {
  color: #EBE5D2;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-left: 39px;
  margin-bottom: 36px;
  padding-top: 104px;
}
.collections__item-fifth__title {
  font-size: 66px;
  font-weight: 700;
  line-height: 60px;
  color: #FFFFFF;
  padding-top: 45px;
  text-align: left;
}
.collections__item-six {
  background-image: url("../img/collections/image 1206.png");
  position: absolute;
  width: 240px;
  height: 240px;
  bottom: 0px;
  right: 0px;
  z-index: 1002;
}
.collections__item-six__white-wrapper {
  margin: 22px;
  width: 200px;
  height: 200px;
}
.collections__item-six__subtitle {
  color: #838383;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-left: 20px;
  margin-bottom: 22px;
  padding-top: 60px;
}
.collections__item-six__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: #3E3E3E;
  text-align: left;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

/*# sourceMappingURL=common.css.map */
