@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.favorites-wrapper, .slider-item__white-wrapper, .collections__item-six__white-wrapper, .collections__item-fourth__white-wrapper, .collections__item-second__white-wrapper {
  background-color: white;
  display: inline-block;
}

* {
  font-family: "Inter";
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 10px;
}
@media screen and (max-width: 480px) {
  .container {
    max-width: 480px;
    padding: 0 5px;
  }
}

.row {
  display: flex;
}

.circles {
  display: none;
}
@media screen and (max-width: 480px) {
  .circles {
    display: block;
    margin-bottom: 15px;
    width: 100%;
  }
}

.header {
  padding-top: 56px;
}
@media screen and (max-width: 480px) {
  .header {
    display: none;
  }
}
.header__container {
  display: flex;
  justify-content: space-between;
}
.header__main-menu {
  display: flex;
  flex-direction: column;
  width: 803px;
  margin-right: 180px;
}
.header__nav {
  margin-bottom: 54px;
  display: flex;
  justify-content: space-between;
}
.header__nav-item {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
}
@media screen and (max-width: 1024px) {
  .header__nav-item {
    font-size: 12px;
  }
}
.header__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .header__info .logo {
    width: 180px;
  }
}
@media screen and (max-width: 1024px) {
  .header__info {
    justify-content: space-around;
  }
}
.header__text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #AFAFAF;
  width: 205px;
  letter-spacing: 2px;
}
.header__favorites-icon {
  position: relative;
}
.header__favorites-icon sup {
  position: absolute;
  top: -11px;
  color: #AFAFAF;
}
.header__cart-icon {
  position: relative;
}
.header__cart-icon sup {
  position: absolute;
  top: -11px;
  color: #FF0000;
}
.header__contacts-block {
  justify-content: space-between;
  align-items: top;
}
.header__contacts {
  margin-right: 30px;
}
.header__phone {
  padding-bottom: 20px;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 400;
  line-height: 16px;
  color: #6D6D6D;
}
@media screen and (max-width: 1024px) {
  .header__phone {
    font-size: 16px;
  }
}
.header__adress {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
}
.header__insta {
  width: 23.52px;
  height: 23px;
  margin-top: 10px;
}

.header-mob {
  display: none;
  margin-bottom: 18px;
}
@media screen and (max-width: 480px) {
  .header-mob {
    display: flex;
    flex-direction: column;
  }
}
.header-mob__row {
  justify-content: space-between;
  align-items: center;
}
.header-mob__menu {
  justify-content: space-between;
  align-items: center;
}
.header-mob__menu-wrapper {
  background-color: #EEEEEE;
  margin-bottom: 64px;
}
.header-mob__phone {
  font-weight: 400;
  font-size: 20px;
  color: #6D6D6D;
}
.header-mob__phone img {
  margin-right: 10px;
}
.header-mob__logo {
  margin-bottom: 34px;
}
.header-mob__logo img {
  margin-bottom: 10px;
}
.header-mob__logotext {
  font-weight: 400;
  font-size: 10px;
  color: #AFAFAF;
  letter-spacing: 2px;
  text-align: center;
}
.header-mob__items {
  justify-content: space-between;
  align-items: center;
}
.header-mob__catalog {
  background-color: red;
  width: 153px;
  height: 54px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
  margin-left: -5px;
}
.header-mob__text {
  margin-right: 12px;
}
.header-mob__login {
  width: 54px;
  height: 54px;
  border: #F5F5F5 solid 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-mob__favorites {
  width: 54px;
  height: 54px;
  border: #F5F5F5 solid 2px;
  padding-top: 15px;
  padding-left: 11px;
}
.header-mob__cart-icon {
  width: 54px;
  height: 54px;
  border: #F5F5F5 solid 2px;
  padding-top: 15px;
  padding-left: 11px;
}

.top-slider {
  background: url("../img/topbg.png") no-repeat center;
  padding-bottom: 120px;
  position: relative;
}
@media screen and (max-width: 480px) {
  .top-slider {
    background: url("../img/topbg.png") 0 0/cover no-repeat;
    height: 279px;
    min-width: 360px;
  }
}
.top-slider__decoration {
  position: absolute;
  bottom: 51px;
}
@media screen and (max-width: 480px) {
  .top-slider__decoration {
    display: none;
  }
}
.top-slider__menu {
  display: flex;
  justify-content: space-between;
  height: 80px;
  position: relative;
  margin-bottom: 386px;
}
@media screen and (max-width: 480px) {
  .top-slider__menu {
    display: none;
  }
}
.top-slider__white-space {
  width: 978px;
  margin-left: -80px;
  background-color: white;
}
@media screen and (max-width: 480px) {
  .top-slider__white-space {
    display: none;
  }
}
.top-slider__search {
  display: flex;
  justify-content: space-between;
  width: 365px;
  padding: 15px;
  background-color: #E1E1E1;
  opacity: 0.8;
}
@media screen and (max-width: 480px) {
  .top-slider__search {
    display: none;
  }
}
.top-slider__catalog {
  display: flex;
  justify-content: center;
  background-color: #FF0000;
  width: 302px;
  height: 70px;
  align-items: center;
  position: absolute;
  z-index: 1;
  top: 58px;
}
@media screen and (max-width: 480px) {
  .top-slider__catalog {
    display: none;
  }
}
.top-slider__subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: white;
  margin-bottom: 19px;
}
@media screen and (max-width: 480px) {
  .top-slider__subtitle {
    padding-top: 52px;
    color: #EBE5D2;
    font-weight: 700;
    font-size: 12px;
    padding-left: 35px;
    margin-bottom: 8px;
  }
}
.top-slider__title {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin-bottom: 55px;
}
@media screen and (max-width: 480px) {
  .top-slider__title {
    align-items: center;
  }
}

.red-scroll {
  display: flex;
}
@media screen and (max-width: 480px) {
  .red-scroll {
    padding-left: 35px;
    position: relative;
    bottom: -52px;
  }
}
.red-scroll__line {
  background-color: rgb(209, 203, 203);
  width: 40px;
  height: 6px;
  margin-right: 20px;
}
.red-scroll__line:first-child {
  background-color: #FF0000;
}

.search_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #707070;
}
.search__icon {
  width: 21px;
  height: 21px;
}
.search__frame {
  border: white solid 20px;
  margin-right: -20px;
  margin-top: -10px;
}
@media screen and (max-width: 480px) {
  .search__frame {
    display: none;
  }
}

.catalog__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: white;
  text-transform: uppercase;
  margin-right: 28px;
}
.catalog__icon {
  width: 15px;
  height: 15px;
}

.proposal-block__name {
  font-weight: 700;
  font-size: 100px;
  line-height: 83px;
  color: #dfddda;
  text-transform: uppercase;
  padding-right: 40px;
}
@media screen and (max-width: 480px) {
  .proposal-block__name {
    font-size: 50px;
    padding-left: 30px;
    line-height: 60px;
    letter-spacing: -4px;
  }
}
.proposal-block__text {
  color: #dfddda;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 26px;
  padding-right: 40px;
}
@media screen and (max-width: 480px) {
  .proposal-block__text {
    font-size: 14px;
    padding-right: 10px;
    padding-left: 35px;
  }
}

.collections {
  margin-bottom: 128px;
}
@media screen and (max-width: 1024px) {
  .collections {
    display: none;
  }
}
.collections__container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  height: 560px;
}
.collections__item-first {
  background-image: url("../img/collections/image 1201.png");
  position: absolute;
  top: -80px;
  width: 560px;
  height: 400px;
  z-index: 1000;
}
.collections__item-first__subtitle {
  color: #EBE5D2;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-top: 55px;
  padding-left: 49px;
  padding-bottom: 32px;
}
.collections__item-first__title {
  font-size: 63px;
  font-weight: 700;
  line-height: 76px;
  color: #FFFFFF;
}
.collections__item-second {
  background-color: white;
  width: 715px;
  height: 320px;
  transform: translate(495px, -135px);
}
.collections__item-second__picture {
  background-image: url("../img/collections/image 1203.png");
  width: 300px;
  height: 150px;
  margin-top: 54px;
  margin-left: 127px;
}
.collections__item-second__white-wrapper {
  margin: 22px;
  width: 260px;
  padding-left: 28px;
  padding-top: 24px;
}
.collections__item-second__title {
  font-size: 27px;
  font-weight: 700;
  line-height: 33px;
  color: #000;
}
.collections__item-second__subtitle {
  color: #EBE5D2;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-top: 9px;
  padding-bottom: 32px;
}
.collections__item-third {
  background: url("../img/collections/image 1218.png") no-repeat center;
  width: 320px;
  height: 320px;
  z-index: 1000;
  position: absolute;
  right: 0px;
  top: -80px;
}
.collections__item-third__title {
  font-size: 36px;
  font-weight: 800;
  line-height: 44px;
  color: #FFFFFF;
}
.collections__item-third__subtitle {
  color: #EBE5D2;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-left: 44px;
  margin-bottom: 36px;
  padding-top: 104px;
}
.collections__item-fourth {
  width: 480px;
  height: 160px;
  background: url("../img/collections/image 1220.png");
  z-index: 1000;
  position: absolute;
  bottom: 0px;
}
.collections__item-fourth__white-wrapper {
  width: 436px;
  margin: 22px;
  height: 116px;
}
.collections__item-fourth__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #000;
  text-align: center;
  padding-top: 45px;
}
.collections__item-fifth {
  z-index: 1001;
  background-image: url("../img/collections/image 1221.png");
  width: 400px;
  height: 400px;
  position: absolute;
  bottom: 0px;
  right: 321px;
}
.collections__item-fifth__subtitle {
  color: #EBE5D2;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-left: 39px;
  margin-bottom: 36px;
  padding-top: 104px;
}
.collections__item-fifth__title {
  font-size: 66px;
  font-weight: 700;
  line-height: 60px;
  color: #FFFFFF;
  padding-top: 45px;
  text-align: left;
}
.collections__item-six {
  background-image: url("../img/collections/image 1206.png");
  position: absolute;
  width: 240px;
  height: 240px;
  bottom: 0px;
  right: 0px;
  z-index: 1002;
}
.collections__item-six__white-wrapper {
  margin: 22px;
  width: 200px;
  height: 200px;
}
.collections__item-six__subtitle {
  color: #838383;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-left: 20px;
  margin-bottom: 22px;
  padding-top: 60px;
}
.collections__item-six__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: #3E3E3E;
  text-align: left;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.collections-mob {
  display: none;
  margin-top: 48px;
}
@media screen and (max-width: 1024px) {
  .collections-mob {
    display: block;
  }
}
@media screen and (max-width: 480px) {
  .collections-mob {
    padding-left: 35px;
  }
}
.collections-mob__item {
  margin-bottom: 23px;
}
.collections-mob__item:last-child {
  margin-bottom: 25px;
}
.collections-mob__title {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 7px;
}
.collections-mob__subtitle {
  font-size: 9px;
  text-transform: uppercase;
  color: #C5C5C5;
  font-weight: 700;
  letter-spacing: 1px;
}
.addblock__title {
  font-weight: 400;
  font-size: 12px;
  color: red;
  margin-bottom: 10px;
}
.addblock__item {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
}
.addblock__item:last-child {
  margin-bottom: 55px;
}

.advantages {
  margin-bottom: 115px;
  padding-top: 32px;
}
@media screen and (max-width: 1024px) {
  .advantages {
    margin-bottom: 70px;
  }
}
@media screen and (max-width: 480px) {
  .advantages {
    background-color: #dfddda;
    margin-bottom: 45px;
  }
}
.advantages__item {
  display: flex;
  margin-right: 65px;
}
@media screen and (max-width: 480px) {
  .advantages__item {
    margin-bottom: 32px;
  }
}
.advantages__icon {
  width: 55px;
  margin-right: 35px;
}
@media screen and (max-width: 1024px) {
  .advantages__icon {
    margin-right: 13px;
  }
}
.advantages__main-text {
  margin-bottom: 4px;
}
.advantages__sub-text {
  font-weight: 400;
  font-size: 12px;
  color: #A4A4A4;
}

@media screen and (max-width: 480px) {
  .advantages-mob {
    padding-left: 35px;
    flex-direction: column;
  }
}

.news-slider {
  margin-bottom: 129px;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .news-slider {
    margin-bottom: 90px;
  }
}
.news-slider__scroll {
  display: none;
}
@media screen and (max-width: 1024px) {
  .news-slider__scroll {
    display: flex;
    margin-top: 26px;
    justify-content: center;
  }
}
@media screen and (max-width: 480px) {
  .news-slider__scroll {
    margin-top: 0px;
  }
}
.news-slider__leftarrow {
  margin-left: -37px;
  margin-right: 21px;
}
@media screen and (max-width: 1024px) {
  .news-slider__leftarrow {
    display: none;
  }
}
.news-slider__rightarrow {
  margin-right: -37px;
  margin-left: 21px;
  transform: rotate(180deg);
}
@media screen and (max-width: 1024px) {
  .news-slider__rightarrow {
    display: none;
  }
}

.slider-item__first {
  background-image: url(../img/newsslider/first.jpg);
  width: 400px;
  height: 223px;
  margin-right: 44px;
}
@media screen and (max-width: 480px) {
  .slider-item__first {
    margin-right: 9px;
  }
}
.slider-item__second {
  background-image: url(../img/newsslider/second.jpg);
  width: 400px;
  height: 223px;
  margin-right: 44px;
}
@media screen and (max-width: 480px) {
  .slider-item__second {
    display: none;
  }
}
.slider-item__third {
  background-image: url(../img/newsslider/third.jpg);
  width: 400px;
  height: 223px;
}
@media screen and (max-width: 480px) {
  .slider-item__third {
    display: none;
  }
}
.slider-item__white-wrapper {
  margin: 22px;
  width: 360px;
  height: 180px;
}
@media screen and (max-width: 480px) {
  .slider-item__white-wrapper {
    width: 100%;
  }
}
.slider-item__newsdate {
  color: red;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  padding: 35px;
}
.slider-item__text {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  padding-left: 35px;
}

.brands-catalog {
  margin-bottom: 154px;
}
@media screen and (max-width: 1024px) {
  .brands-catalog {
    margin-bottom: 55px;
  }
}
@media screen and (max-width: 480px) {
  .brands-catalog {
    margin-bottom: 50px;
  }
}
.brands-catalog__title {
  font-weight: 700;
  font-size: 46px;
  line-height: 31px;
  color: #EEEEEE;
}
@media screen and (max-width: 480px) {
  .brands-catalog__title {
    font-size: 27px;
    text-align: center;
  }
}
.brands-catalog__wrapper {
  display: flex;
  height: 240px;
  position: relative;
}
@media screen and (max-width: 480px) {
  .brands-catalog__wrapper {
    height: 192px;
    background-color: #EEEEEE;
  }
}
.brands-catalog__block {
  z-index: 1000;
  background-color: #EEEEEE;
  display: flex;
  align-items: center;
}
.brands-catalog__logo {
  margin: 0 56px;
}
@media screen and (max-width: 480px) {
  .brands-catalog__logo {
    margin: 0 44px;
  }
}
.brands-catalog__rightarrow {
  transform: rotate(180deg);
}
.wrapper-white {
  width: 50%;
}
@media screen and (max-width: 480px) {
  .wrapper-white {
    display: none;
  }
}

.wrapper-grey {
  width: 50%;
  background-color: #EEEEEE;
}
@media screen and (max-width: 480px) {
  .wrapper-grey {
    display: none;
  }
}

.inside-wrapper {
  height: 240px;
  background-color: #EEEEEE;
  position: absolute;
  left: 315px;
  display: flex;
}
@media screen and (max-width: 1024px) {
  .inside-wrapper {
    left: 13px;
  }
}
@media screen and (max-width: 480px) {
  .inside-wrapper {
    height: 192px;
  }
}

.brand1 {
  width: 157px;
  height: 38px;
}

.brand2 {
  width: 208px;
  height: 59px;
}
@media screen and (max-width: 480px) {
  .brand2 {
    display: none;
  }
}

.brand3 {
  width: 237px;
  height: 119px;
}
@media screen and (max-width: 480px) {
  .brand3 {
    display: none;
  }
}

.brand4 {
  width: 162px;
  height: 91px;
}
@media screen and (max-width: 480px) {
  .brand4 {
    display: none;
  }
}

.newincatalog {
  margin-bottom: 166px;
}
@media screen and (max-width: 1024px) {
  .newincatalog {
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 480px) {
  .newincatalog {
    margin-bottom: 40px;
  }
}
.newincatalog__header {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 75px;
  border-bottom: #E9E9E9 1px solid;
}
@media screen and (max-width: 480px) {
  .newincatalog__header {
    margin-bottom: 27px;
  }
}
.newincatalog__title {
  line-height: 30px;
  font-size: 25px;
  font-weight: 700;
}
@media screen and (max-width: 480px) {
  .newincatalog__title {
    padding-left: 35px;
  }
}
.newincatalog__arrow {
  align-items: center;
}
@media screen and (max-width: 480px) {
  .newincatalog__arrow {
    display: none;
  }
}
.newincatalog__subtitle {
  margin-right: 19px;
  font-weight: 400;
  font-size: 18px;
  color: rgba(153, 153, 153, 0.8);
  letter-spacing: 2px;
}
@media screen and (max-width: 480px) {
  .newincatalog__gallery {
    padding-left: 35px;
    flex-direction: column;
  }
}
.newincatalog__small-block {
  margin-right: 40px;
}
.newincatalog__big-block {
  background-image: url("../img/simple.jpg");
  width: 760px;
  height: 520px;
}
@media screen and (max-width: 480px) {
  .newincatalog__big-block {
    width: 100%;
    height: 216px;
  }
}

@media screen and (max-width: 480px) {
  .small-block__item {
    margin-bottom: 10px;
    width: 100%;
  }
}
.small-block__first {
  background-image: url("../img/monotribeko.jpg");
  width: 480px;
  height: 240px;
  margin-bottom: 40px;
}
@media screen and (max-width: 480px) {
  .small-block__first {
    margin-bottom: 10px;
    width: 100%;
  }
}
.small-block__second {
  background-image: url("../img/mono.jpg");
  width: 480px;
  height: 240px;
}
@media screen and (max-width: 480px) {
  .small-block__second {
    width: 100%;
  }
}

.item__title {
  color: #EBE5D2;
  font-size: 10px;
  font-weight: 700;
  padding-top: 71px;
  padding-left: 63px;
  letter-spacing: 3px;
  margin-bottom: 20px;
}
.item__name {
  padding-left: 63px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 40px;
  color: white;
}
.item__country {
  font-weight: 300;
  font-size: 18px;
  color: white;
  padding-left: 63px;
}

.popular {
  margin-bottom: 157px;
}
@media screen and (max-width: 1024px) {
  .popular {
    margin-bottom: 85px;
  }
}
.popular__cards {
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width: 1024px) {
  .popular__cards {
    justify-content: space-around;
  }
}
.popular__card {
  border: 1px solid #E9E9E9;
  padding-top: 7px;
}
@media screen and (max-width: 1024px) {
  .popular__card {
    justify-content: space-around;
    margin-top: 25px;
  }
}
.popular__arrright {
  margin-right: -37px;
  margin-left: 21px;
  transform: rotate(180deg);
}
@media screen and (max-width: 1024px) {
  .popular__arrright {
    display: none;
  }
}
.popular__arrleft {
  margin-left: -37px;
  margin-right: 21px;
}
@media screen and (max-width: 1024px) {
  .popular__arrleft {
    display: none;
  }
}

.popular-menu {
  position: relative;
  border-bottom: #E9E9E9 1px solid;
  margin-bottom: 89px;
}
@media screen and (max-width: 1024px) {
  .popular-menu {
    margin-bottom: 64px;
  }
}
.popular-menu__square {
  width: 13px;
  height: 13px;
  background-color: white;
  border-right: solid 1px red;
  border-bottom: solid 1px red;
  transform: rotate(45deg);
  position: absolute;
  top: 31px;
  left: 131px;
}
@media screen and (max-width: 480px) {
  .popular-menu__square {
    top: 54px;
    left: 75px;
  }
}

.pop-collections {
  line-height: 30px;
  font-size: 25px;
  font-weight: 700;
  margin-right: 89px;
  display: table;
  border-bottom: 1px solid red;
}
@media screen and (max-width: 480px) {
  .pop-collections {
    font-size: 18px;
    padding-left: 35px;
    margin-right: 35px;
  }
}

.pop-products {
  line-height: 30px;
  font-size: 25px;
  font-weight: 700;
  text-decoration: underline dotted;
  color: #6F6F6F;
  flex-grow: 1;
}
@media screen and (max-width: 480px) {
  .pop-products {
    font-size: 18px;
  }
}

.pop-all {
  align-items: center;
}
@media screen and (max-width: 480px) {
  .pop-all {
    display: none;
  }
}
.pop-all__title {
  margin-right: 19px;
  font-weight: 400;
  font-size: 18px;
  color: rgba(153, 153, 153, 0.8);
  letter-spacing: 2px;
}

.popular-card {
  position: relative;
  padding-top: 40px;
}
.popular-card__country {
  position: relative;
  top: -51px;
  align-items: center;
}
.popular-card__secimg {
  height: 270px;
}
@media screen and (max-width: 480px) {
  .popular-card__picture img {
    width: 322px;
    height: 212px;
  }
}
.popular-card__subtitle {
  color: #9B9B9B;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: white;
  position: absolute;
  bottom: 114px;
  width: 122px;
  height: 37px;
  text-align: center;
  padding: 24px;
}
.popular-card__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}
.popular-card__counter {
  background-color: #F5F5F5;
  justify-content: space-between;
  padding: 22px 28px;
}
.popular-card__counter img {
  transform: rotate(180deg);
}

.country-label {
  flex-grow: 1;
}

.country-flag {
  padding-right: 10px;
  background-color: white;
}

.counter-text {
  font-weight: 400;
  font-size: 22px;
  color: #A3A3A3;
}

.our-services {
  margin-bottom: 147px;
}
@media screen and (max-width: 1024px) {
  .our-services {
    margin-bottom: 85px;
  }
}
@media screen and (max-width: 480px) {
  .our-services {
    display: none;
  }
}
.our-services__title {
  line-height: 30px;
  font-size: 25px;
  font-weight: 700;
  border-bottom: #E9E9E9 1px solid;
  margin-bottom: 73px;
}
.our-services__row {
  justify-content: space-between;
}
.our-services__leftblock {
  background-image: url(../img/big-services.jpg);
  width: 760px;
  height: 520px;
}
.leftblock__title {
  font-size: 55px;
  font-weight: 700;
  line-height: 60px;
  padding: 60px 0 30px 60px;
  color: #FFFFFF;
}
.leftblock__subtitle {
  color: #EBE5D2;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 1px;
  padding-left: 60px;
}

.rightblock__item {
  width: 440px;
  height: 240px;
}
.rightblock__item1 {
  background-image: url(../img/smallfirstserv.jpg);
  margin-bottom: 40px;
}
.rightblock__item2 {
  background-image: url(../img/smallsecondserv.jpg);
}
.rightblock__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 33px;
  padding: 55px 0 25px 55px;
  color: #FFFFFF;
}
.rightblock__subtitle {
  color: #EBE5D2;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 1px;
  padding-left: 55px;
}

.ourservices-mob {
  margin-left: 35px;
  margin-bottom: 70px;
  display: none;
}
@media screen and (max-width: 480px) {
  .ourservices-mob {
    display: block;
  }
}
.ourservices-mob__item {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.ourservices-mob__img {
  width: 80px;
  height: 100px;
  margin-right: 20px;
}
.ourservices-mob__title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 17px;
}
.ourservices-mob__subtitle {
  font-size: 9px;
  font-weight: 700;
  text-transform: uppercase;
  color: #B6B6B6;
  line-height: 14px;
  letter-spacing: 2px;
}

.realized {
  margin-bottom: 144px;
}
@media screen and (max-width: 1024px) {
  .realized {
    margin-bottom: 205px;
  }
}
@media screen and (max-width: 480px) {
  .realized {
    margin-bottom: 45px;
    margin-left: 35px;
  }
}
.realized__header {
  justify-content: space-between;
  border-bottom: #E9E9E9 1px solid;
  margin-bottom: 75px;
}
@media screen and (max-width: 480px) {
  .realized__header {
    margin-bottom: 30px;
  }
}
.realized__title {
  line-height: 30px;
  font-size: 25px;
  font-weight: 700;
}
.realized__arrow {
  align-items: center;
}
@media screen and (max-width: 480px) {
  .realized__arrow {
    display: none;
  }
}
.realized__items {
  justify-content: space-between;
}
@media screen and (max-width: 480px) {
  .realized__item {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .realized__item:nth-child(2) {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .realized__item:nth-child(3) {
    display: none;
  }
}
.realized__item1 {
  background-image: url(../img/realised/first.jpg);
  width: 400px;
  height: 222px;
}
.realized__subname {
  font-weight: 300;
  font-size: 12px;
  color: #FFFFFF;
  padding-top: 55px;
  padding-left: 55px;
  padding-right: 20px;
  margin-bottom: 17px;
}
@media screen and (max-width: 1024px) {
  .realized__subname {
    padding-left: 12px;
  }
}
.realized__name {
  padding-left: 55px;
  padding-right: 20px;
  line-height: 26px;
  font-size: 25px;
  font-weight: 700;
  color: #FFFFFF;
}
@media screen and (max-width: 1024px) {
  .realized__name {
    padding-left: 12px;
    padding-right: 45px;
  }
}
.realized__item2 {
  background-image: url(../img/realised/second.jpg);
  width: 400px;
  height: 222px;
}
.realized__item3 {
  background-image: url(../img/realised/third.jpg);
  width: 400px;
  height: 222px;
}
@media screen and (max-width: 480px) {
  .realized__item3 {
    width: 100%;
  }
}

.arrow-text {
  margin-right: 19px;
  font-weight: 400;
  font-size: 18px;
  color: rgba(153, 153, 153, 0.8);
  letter-spacing: 2px;
}

.item__picture {
  margin-bottom: 18px;
}
@media screen and (max-width: 1024px) {
  .item__picture {
    width: 325px;
  }
}
.item__list {
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
}

.list__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}

.realized-mob__arrow {
  display: none;
}
@media screen and (max-width: 480px) {
  .realized-mob__arrow {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: flex-end;
  }
}

.about-shop {
  margin-bottom: 166px;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .about-shop {
    margin-bottom: 90px;
  }
}
@media screen and (max-width: 480px) {
  .about-shop {
    margin-left: 35px;
    margin-bottom: 40px;
  }
}
.about-shop__title {
  line-height: 30px;
  font-size: 25px;
  font-weight: 700;
  border-bottom: #E9E9E9 1px solid;
  margin-bottom: 63px;
}
@media screen and (max-width: 480px) {
  .about-shop__title {
    margin-bottom: 23px;
  }
}
.about-shop__description {
  max-width: 427px;
  margin-right: 80px;
}
@media screen and (max-width: 480px) {
  .about-shop__description {
    margin-right: 0;
  }
}
.about-shop__description p {
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 34px;
}
@media screen and (max-width: 480px) {
  .about-shop__description p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
  }
}
.about-shop__description p:last-child {
  margin-bottom: 0;
}
.about-shop__front {
  display: block;
}
@media screen and (max-width: 1024px) {
  .about-shop__front {
    display: none;
  }
}
.about-shop__pictures {
  position: absolute;
  top: 0px;
  right: 10px;
}
@media screen and (max-width: 1024px) {
  .about-shop__pictures {
    display: none;
  }
}
.about-shop__pictures img {
  display: block;
}
.about-shop__pictures img:first-child {
  margin-bottom: 40px;
}

.aboutshop-mob__imgs {
  display: none;
}
@media screen and (max-width: 1024px) {
  .aboutshop-mob__imgs {
    display: flex;
    height: 195px;
  }
  .aboutshop-mob__imgs img {
    display: block;
  }
}
.aboutshop-mob__front {
  width: calc(50% - 14px);
  height: 100%;
  margin-right: 14px;
  object-fit: cover;
}
.aboutshop-mob__pictures {
  width: calc(50% - 14px);
}
.aboutshop-mob__pictures img {
  display: block;
  width: 100%;
  object-fit: cover;
  height: calc(50% - 7px);
}
.aboutshop-mob__pictures img:first-child {
  margin-bottom: 15px;
}

.reviews__title-block {
  align-items: center;
}
@media screen and (max-width: 480px) {
  .reviews__title-block {
    margin-left: 35px;
  }
}
.reviews__wrapper {
  background: linear-gradient(#EEEEEE, white);
  padding-top: 112px;
  padding-bottom: 112px;
}
@media screen and (max-width: 1024px) {
  .reviews__wrapper {
    padding: 76px 0;
  }
}
@media screen and (max-width: 480px) {
  .reviews__wrapper .circles {
    margin-left: 35px;
  }
}
.reviews__main-block {
  flex-wrap: wrap;
  justify-content: space-around;
}
.reviews__item {
  flex: 0 1 30%;
  flex-direction: column;
}
@media screen and (max-width: 480px) {
  .reviews__item1 {
    flex-grow: 1;
    margin-left: 18px;
  }
}
.reviews__user-data {
  margin-bottom: 35px;
}
.reviews__text-block {
  flex-grow: 1;
}
.reviews__text-block img {
  margin-right: 15px;
  width: 11.62px;
  height: 9.41px;
}
.reviews__source {
  padding-left: 26px;
  font-weight: 300;
  font-size: 14px;
  align-items: center;
  color: #A3A3A3;
}
@media screen and (max-width: 480px) {
  .reviews__item2 {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .reviews__item3 {
    display: none;
  }
}

.title-block__title {
  font-weight: 700;
  font-size: 46px;
  line-height: 31px;
  color: #EEEEEE;
  margin-right: 100px;
}
@media screen and (max-width: 1024px) {
  .title-block__title {
    font-size: 26px;
  }
}
.title-block__item {
  margin-right: 145px;
  color: red;
  font-size: 16px;
  font-weight: 400;
}
.title-block__item:last-child {
  margin-right: 0;
}
.title-block__item span {
  color: grey;
}
@media screen and (max-width: 480px) {
  .title-block__item {
    display: none;
  }
}

.user-data__info {
  flex-direction: column;
  justify-content: space-between;
}
.user-data__photo {
  margin-right: 40px;
}
.user-data__name {
  font-weight: 500;
  font-size: 22px;
}
.user-data__date {
  color: #A3A3A3;
  font-size: 10px;
  font-weight: 700;
}
.text-block__text p {
  margin-bottom: 10px;
}

.map__container {
  justify-content: space-between;
}
@media screen and (max-width: 480px) {
  .map__container {
    display: block;
  }
}
.map__wrapper {
  background-image: url(../img/map/image\ 34.jpg);
  padding-top: 117px;
  padding-bottom: 154px;
}
@media screen and (max-width: 1024px) {
  .map__wrapper {
    padding: 80px 0 105px 0;
  }
}
@media screen and (max-width: 480px) {
  .map__wrapper {
    background-image: none;
    padding-top: 0;
  }
}
.map__contacts-block {
  background-color: white;
  padding-top: 75px;
  padding-left: 80px;
  width: 480px;
  height: 477px;
  box-shadow: 2px 3px 4px grey;
}
@media screen and (max-width: 480px) {
  .map__contacts-block {
    padding-top: 0;
    padding-left: 35px;
    padding-right: 35px;
    width: 100%;
    box-shadow: none;
    height: 100%;
  }
}
.map__point {
  margin-top: 50px;
  background-color: white;
  box-shadow: 2px 3px 4px grey;
  width: 336px;
  height: 60px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.map__point img {
  margin-right: 15px;
}
@media screen and (max-width: 480px) {
  .map__point {
    box-shadow: 0px 0px 3px grey;
    width: 100%;
  }
}

.contacts-block {
  display: flex;
  flex-direction: column;
}
.contacts-block__title {
  line-height: 30px;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 26px;
}
.contacts-block__adress {
  font-weight: 300;
  font-size: 14px;
  line-height: 30px;
}
.contacts-block__schedule {
  font-weight: 300;
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 20px;
}
.contacts-block__phone {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 10px;
}
.contacts-block__phone img {
  margin-right: 16px;
}
.contacts-block__email {
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 34px;
}
.contacts-block__email img {
  margin-right: 16px;
}
.contacts-block__button {
  color: red;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  width: 213px;
  height: 65px;
  background-color: white;
  border: solid red 1px;
}
@media screen and (max-width: 480px) {
  .contacts-block__button {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .footer {
    margin-left: 37px;
    padding-right: 32px;
  }
}
.footer__row {
  justify-content: space-between;
}
@media screen and (max-width: 480px) {
  .footer__row {
    flex-direction: column;
  }
}
.footer__logo-block {
  flex-direction: column;
  margin-top: -24px;
}
.footer__logo {
  margin-bottom: 21px;
  width: 282px;
}
.footer__catalog {
  display: flex;
  justify-content: center;
  background-color: #FF0000;
  width: 282px;
  height: 65px;
  align-items: center;
  color: white;
  margin-bottom: 75px;
}
@media screen and (max-width: 480px) {
  .footer__catalog {
    display: none;
  }
}
.footer__catalog span {
  margin-right: 10px;
  color: white;
  font-weight: 700;
  font-size: 14px;
}
.footer__text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #AFAFAF;
  letter-spacing: 2px;
  margin-bottom: 43px;
}
@media screen and (max-width: 480px) {
  .footer__text {
    letter-spacing: 1px;
    margin-bottom: 32px;
  }
}
.footer__insta img {
  margin-right: 18px;
}
.footer__insta span {
  font-weight: 300;
  font-size: 22px;
  text-transform: uppercase;
  line-height: 26px;
}
.footer__upbutton {
  width: 240px;
  height: 65px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: #A3A3A3;
  background-color: #EBEBEB;
  align-items: center;
  justify-content: center;
}
.footer__upbutton span {
  margin-right: 15px;
}

.footer-menu {
  padding-top: 77px;
}
@media screen and (max-width: 480px) {
  .footer-menu {
    padding-top: 32px;
  }
}
.footer-menu__title {
  font-weight: 700;
  font-size: 13px;
  color: #777777;
  letter-spacing: 2px;
  margin-bottom: 24px;
}
.footer-menu__item {
  font-weight: 400;
  font-size: 14px;
  color: #777777;
  line-height: 21px;
  margin-bottom: 9px;
}

.footer-contacts {
  padding-top: 75px;
}
.footer-contacts__phone {
  font-weight: 300;
  font-size: 24px;
  color: #6D6D6D;
  margin-bottom: 43px;
}
@media screen and (max-width: 480px) {
  .footer-contacts__phone {
    display: none;
  }
}
.footer-contacts__pay {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 83px;
}

/*# sourceMappingURL=common.css.map */
